<div id="sidebar">
    <!-- check if user is logged in -->
    <% if user_is_logged_in? %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Things to do...</h3>
          </div>
          <div class="panel-body">
            <p> <%= link_to 'All Books', books_path %> </p>
            <p> <%= link_to 'Authors', authors_path %> </p>
            <p> <%= link_to 'My Reservations', reservations_path %> </p>
            <p><%#= link_to 'My Reservations', book_reservation_path(@book) %></p>
            <!--This is the alternate syntax that wouldn't work either.  It generates the  following routes error:  No route matches {:action=>"show", :controller=>"reservations", :book_id=>"3"} missing required keys: [:id] -->

            <%#= link_to 'My Reservations', book_reservations_path(@book) %> <!--This generates the following routes error:  No route matches {:book_id=>nil} missing required keys: [:book_id]-->

            <%#= link_to 'My Reservations', reservations_path %><!--Was the original code for the link above-->
            
            <p> <!-- added by RC on 5/24 -->
            <%#= link_to pluralize(@book.reservations.size, 'reservation'), book_reservations_path(@book) %>
            </p>

            <% if show_links == true %>
                <p><%= link_to 'New Book', new_book_path %></p>
                <p><%= link_to 'Overdue Books', books_path %> </p>
                <p><%#<%= link_to 'Log out', session_path(:user_id), method: :delete%></p>
            <% end -%>
            <p><%= button_to 'Logout', logout_path, method: :delete, class:"btn btn-primary" %></p>
          </div>
        </div>
    <% end %>
</div>
