<h1>My Reservations</h1>
  <ol id="reservations">
  <% @reservations.each do |reservation| %>
    <!--<li> -->
      <%= image_tag @book.image_cover_url, class:"cover_image" %> </p>
      <p><%= link_to(@book.title, @book) %></p>
      <span class="reservation"><%= pluralize(reservation.reserved_on, 'reservation') %> </span><br>
      <span class="user">Reserved By: <%= reservation.user.name %> </span><br>
      <span class="reserved_on">Reserved On: <%= time_ago_in_words(reservation.reserved_on) %> ago </span><br>
      <span class="due_on">Due on: <%= time_ago_in_words(reservation.due_on) %> ago </span><br>
      <%= link_to 'Return', new_book_reservation_path(@book),
        remote: true,
        data: { 'update-target' => 'reservations_form_container' },
        class: 'btn btn-primary' %>
      <br>
      <br>
      <br>
      <% end %>
      <p>
        If overdue, "Overdue!" alert text goes here.
      </p>
    <!-- </li> -->

</ol>

<div id="reservations_form_container"></div>
