<h1>My Reservations</h1>
  <ol id="reservations">
  <% @reservations.each do |reservation| %>
    <br>
    <!--
    <h4><class="reservation"><%= pluralize(reservation.reserved_on, 'reservation') %> </class></h4>
    -->
    <li>
      <div class="res-bg">
      <br>
      <%= image_tag reservation.book.image_cover_url, class:"cover_image" %>
      <p><h4><%= link_to(reservation.book.title, reservation.book) %></h4></p>      
      <span class="reserved_on">Reserved On: <%= reservation.reserved_on %></span><br>
      <span class="due_on">Due on: <%= reservation.due_on %></span>
      <br><br><br><br>
      <div class="btn-aln-rt">
      <%= button_to 'Return', reservation, method: :delete, class:"btn btn-primary delete-btn" %>
      </div>
      <br><br>
      </div>
    </li>
  <% end %>
  <br>
  Displaying All <%= @reservations.size %> of My Reservations
  </ol>