<h1><%= @page_title %></h1>

<p>Available as of <%= formatted_time(@available_at) %></p>
<%= page_entries_info @books %>


<ul id="author-list">
	
<% @books.each do |book| %>
<div class="highlight">
	  <li class="form-group clearfix">
	  <%= image_tag book.image_cover_url, class:"cover_image2" %><br/>
	  <%= link_to(book.title, book) %>
	  by <%= book.author %><br/>
	  <span>Available to Reserve: </span><%= book.total_in_library %>
	</li>
</div>
<% end %>
	
</ul>

<%= paginate @books %>

<%# <%= link_to 'New Book', new_book_path %>