<h1>Books</h1>
<p>Available as of <%= formatted_time(@available_at) %></p>
<%= page_entries_info @books %>
<ol>
<% @books.each do |book| %>
	  <li>
	  	
	  <%= link_to(book.title, book) %>
	  by <%= book.author %><br/>
	  <%= book.total_in_library %>
		</li>
	  <% end %>

</ol>
<%= paginate @books %>

<%# <%= link_to 'New Book', new_book_path %>