<% content_for :title, @book.title %>

<%= render 'shared/flashes' %>

<article class="book">
  <header>
    <h2><%= @book.title %></h2>
  </header>
  <p><%= image_tag @book.image_cover_url, class:"cover_image" %> </p>
  <p><label>Abstract:</label> <%= @book.abstract %></p><br>
  <h4>Details</h4>
  <p><label>Author:</label>  <%= link_to @book.author %> </p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Published On:</label> <%= @book.published_on %></p>
  <p><label>ISBN:</label> <%= @book.isbn %></p>
  <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Available to Reserve:</label> <%= @book.calc_avail_to_reserve %></p>
  <!--
  <%# if @book.can_reserve? %> 
       <p><%#= button_to 'Reserve', book_reservations_path(@book), class:"btn btn-primary" %></p>
  <#% else %>
      This book is not currently available.
  <#% end %>

  This check is to see if a book is available to reserve if it's reserved and then display the button or appropriate message.  The above conditional statement should be replaced with this. -->
  <% if @book.can_reserve? %> 
       <p><%= button_to 'Reserve', book_reservations_path(@book), class:"btn btn-primary" %></p>
  <% elsif @book.reservations %>
     <p class="bg-info">You currently have this book reserved.</p>
  <% else %>
      <p class="bg-danger">This book is not currently available.</p>
  <% end %>
  


  <!--
  <p>Available to Reserve <%#= link_to pluralize(@book.reservations.size, 'reservation'),
                        book_reservations_path(@book) %> </p>
  -->
  
  <!--  
  <p><label>Show Reservations:</label> <%#= format_show_reserved_on(@book) %></p>
  -->

</article>

<!-- if user is admin show these buttons -->
<div class="btn-group">
<% if show_links == true %>
<%= link_to 'Edit', edit_book_path(@book), class:"btn btn-default" %>
<%= button_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary delete-btn" %>
<% end %>
</div>
